// rc-section CSS custom properties for compatibility with Rancher dashboard versions <2.15
// that do not include them in their theme stylesheets
// TODO nb this can be removed once we stop supporting 2.14
BODY, .theme-light {
  --rc-section-background-primary: #FFFFFF;
  --rc-section-background-secondary: #F4F5FA;
  --rc-section-action-color: #6C6C77;
}

// BODY, .theme-dark {
//   --rc-section-background-primary: #161C24;
//   --rc-section-background-secondary: #262831;
//   --rc-section-action-color: #B6B6C3;
// }

// RcSection content - 16px gap (vs 24px between sections)
.rc-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
}

// space inputs evenly w/ 16px gap between
.rc-row {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-md);
  align-self: stretch;
  &>* {
    flex-grow: 1;
    flex-basis: 50%;
  }
  // half-width children whose width lines up with 2-item rc-rows
  &.half>* {
    flex-grow: 0;
    flex-basis: calc(50% - var(--gap));
    min-width: 0;
  }
  .centered {
    height: 100%;
  }
}