// RcSection content - 16px gap (vs 24px between sections)
.rc-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);

    & .key-value .footer .rc-button.btn-small, .array-list-main-container .footer .rc-button.btn-small {
      gap: 0px !important;
    }
}

// space inputs evenly w/ 16px gap between
.input-row {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-md);
  align-self: stretch;
  &>* {
    flex-grow: 1;
    flex-basis: 50%;
  }
  // opt a single child out of using the entire row, instead matching the width of one input in a two-input row
  &>.half {
    flex-grow: 0;
    flex-basis: calc(50% - var(--gap));
    min-width: 0;
  }
  //  vertically center content within the row
  .centered {
    height: 100%;
  }
}
